<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Codes</title>
    <link rel="stylesheet" href="css/auth.css">
    <script src="js/auth.js" defer></script>
    <script src="https://kit.fontawesome.com/9b01fa1231.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="signup">
            <%- include('partials/admin_nav.ejs') %>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Location</th>
                    <th>URL</th>
                    <th>Points</th>
                </tr>
                    <% codes.forEach((code, i) => { %>
                        <tr>
                            <td><%- code.title %></td>
                            <td><%- code.location %></td>
                            <td><a href="<%- code.url %>" target="_blank">Link</a></td>
                            <td><%- code.points %></td>
                        </tr>
                    <% }) %>
            </table>
        </div>
    </div>
</body>
</html>